In [ ]:
import pandas as pd

In [ ]:
csvpath='/Users/lauradu/Desktop/PythonExercise/purchase_data.csv'
purchase_data_df=pd.read_csv(csvpath)
purchase_data_df.head()

In [62]:
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            573

In [65]:
average_item_price = purchase_data_df["Price"].mean()
total_purchase_value = purchase_data_df["Price"].sum()
purchase_count = purchase_data_df["Price"].count()
item_count = len(purchase_data_df["Item ID"].unique())

summary_table = pd.DataFrame({"Number of Unique Items": item_count,
                               "Total Revenue": [total_purchase_value],
                               "Number of Purchases": [purchase_count],
                               "Average Purchase Price": [average_item_price]})

summary_table = summary_table.round(2)
summary_table ["Average Price"] = summary_table["Average Purchase Price"].map("${:,.2f}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table = summary_table.loc[:, ["Number of Unique Items", "Average Purchase Price", "Number of Purchases", "Total Revenue"]]

summary_table

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,2.93,780,"$2,286.33"

In [66]:
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / num_players * 100

gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents})

gender_demographics = gender_demographics.round(2)

gender_demographics

                       Percentage of Players  Total Count
Male                                   81.15          465
Female                                 17.45          100
Other / Non-Disclosed                   1.40            8

In [103]:
gender_purchase_total = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

normalized_total = gender_purchase_total / gender_demographics["Total Count"]

gender_data = pd.DataFrame({"Purchase Count": gender_counts,
                            "Normalized Total": normalized_total, 
                            "Total Purchase Value": gender_purchase_total, 
                            "Average Purchase Value": gender_average}) 
                            
gender_data

,Average Purchase Value,Normalized Total,Purchase Count,Total Purchase Value
Gender,,,,
Female,2.815515,3.829100,136,382.91
Male,2.950521,4.016516,633,1867.68
Other / Non-Disclosed,3.249091,4.467500,11,35.74

In [104]:
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players * 100

age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percent of Players": age_demographics_percents})
age_demographics = age_demographics.sort_index()
age_demographics

       Percent of Players  Total Count
<10              3.315881           19
10-14            4.013962           23
15-19           17.452007          100
20-24           45.200698          259
25-29           15.183246           87
30-34            8.202443           47
35-39            4.712042           27
>40              1.919721           11